@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .anchor {
    @apply text-primary-500 transition duration-100
  }

  .anchor:hover {
    @apply text-primary-700
  }

  .btn-primary {
    @apply bg-primary-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-primary:hover {
    @apply bg-primary-700;
  }
}